<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Photo Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <io-grid> 
    <ion-row>
      <ioh-col size="6"
      *ngFor="let photo of photoService.photos; index as position">
        <ion-img [src]="photo.webviewPath"> </ion-img>
      </ioh-col>
    </ion-row>
  </io-grid>
  <ion-fab-button (click)="addPhotoToGallery()"><ion-icon name="camera"></ion-icon></ion-fab-button>
  
</ion-content>
